<!DOCTYPE html>
<html>

 <body>
    <h1>All information you need</h1>
    <p>
      <br>
      <a href="http://beta-banshee.herokuapp.com/">Heroku Site </a>is our app
        released with <a href="http://www.heroku.com/">Heroku</a>.
      </br>
      <br>
        <a href="https://github.com/IgorPertsav/beta_banshee">Beta_banshee</a>
      </br>
      <br>
        This is fancy pass 203Night20Spirit01 (special for O).
      </br>
      <br>
        This is a  good   <a href="http://railsapps.github.com/rails-heroku-tutorial.html">heroku tutorial</a>.
      </br>
      <br>
        This is some git tutorial <a href="http://progit.org/book/ru/ch2-5.html">tutorial 1</a> &
      <a href="http://progit.org/book/ru/ch5-4.html"> tutorial 2</a>
      </br>
    </p>
  </body>
</html>