
<body>
    <h1> Home Page </h1>
        <p>
          This is home page for the our social network.
        </p>
    <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
</body>
